.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
}

.App-logo{
    width: 3rem;
    height: 3rem;
}